<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-koofr" version="1.0.0">

	<name>Koofr</name>
	<description>Cordova plugin for Koofr cloud storage</description>
	<license>MIT</license>
	<keywords>cordova,koofr,cloud,storage</keywords>
	<dependency id="cordova-plugin-advanced-http" version="*" />

	<js-module src="koofr.js" name="koofr">
		<clobbers target="cordova.plugins.koofr" />
	</js-module>

	<platform name="android">
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="KoofrPlugin">
				<param name="android-package" value="com.koofr.cordova.KoofrPlugin" />
			</feature>
		</config-file>

		<source-file src="KoofrPlugin.java" target-dir="src/com/koofr/cordova" />
	</platform>
</plugin>